*{

    margin: 0px;
    padding: 0px;
}

header{

    background-color: rgb(47, 47, 47);
    color: white;
    height: 100px;
    padding: 30px;
    font-size: 300%;
    padding-left: 125px;
}


nav{

    background-color: aqua;
    padding: 5px 200px;
}


aside{
    color: black;
    background-color:blueviolet;
    height: 200px;
    padding: 0px 200px;
    margin: 0px;
    /* margin-top: 20px;  */
    margin-bottom: 20px;   
    background-image: url("../image/test.jpg");
    background-size: 385px 200px;
}

aside h4{

    text-indent: 0px;
}

main{

    background-color: aliceblue;
    color: black;
    height: 200px;
    padding: 0px;

}

footer{

    background-color: silver;
    padding: 10px 200px;
    height: 120px;
    
}

body{

    width: 500px;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.left{

    float: left;
    width: 250px;
}
.left h3, .right h3{
    margin-left: 100px;
}

.right{
    float: left;
    width: 250px;
}
.left img{

    width: 240px;
}
.right img{
    width: 240px;
}


