



*{

    margin: 0px;
    padding: 0px;

}

body {

    max-width: 1360px;
    margin: 50px auto;
   
}


#list_nav{

    padding: 0px 50px;
}
#list_nav ul {


    list-style-type: none;
    
}

#list_nav h2{

    padding: 0px 15px;
}

#list_nav ul li{

    float: left;
    padding: 0.5em 0;
    width: 200px;
    margin: 1.25rem 1em;
    text-decoration: none;
    color: red;
    position: relative;
    background-color: aliceblue;
}

#list_nav ul li a{

   
    text-decoration: none;
    color: red;
    padding: 2em;
}

#list_nav ul li a:hover{

    color: black;

}


#list_nav ul li ul{

    display: none;
    position: absolute;
    top: 100%;
}

#list_nav ul li ul li{

    float: none;
    margin: 0px;
    z-index: 1;
    
}

#list_nav > ul li a::after{

    content: "";
    display: block;
    clear: both;
}


#list_nav ul li:hover>ul{

    display: block;
    margin-top: 10px;
    
}



#list_nav ul li:hover>ul li{

    display: block;
    margin-top: 0px;

    background-color: aliceblue;
}


#list_nav  ul ul li ul{


    position: absolute;
    left: 100%;
    top: -10px;
    
}

main{

    margin: 100px 68px;
    position: absolute;
    z-index: 0;
    height: 500px;
    width: 1126px;
    background-color: aqua;
}

































