*{

    margin: 0px;
    padding: 0px;

}


body {

    max-width: 1360px;
    margin: 50px auto;
   
}

header {


    background-color: silver;
    height: 100px;
    position: fixed;
    width: 100%;
    
}

section{

    float: left;
    width: 56%;
    height: 550px;
    background-color: aliceblue;
    font-family: monospace;
    padding: 2%;
    line-height: 1.5;
    column-count: 3;
    column-rule: 1px solid rgba(27, 30, 34, 0.602);
    column-gap: 10px;
}

section img{
    width: 100%;
}

aside{

    float: left;
    width: 35.8%;
    height: 550px;
    background-color: aqua;
    padding: 2%;
    border: 1px solid rgba(27, 30, 34, 0.602);
}


.box{

    width: 100px;
    height: 100px;
    background-color:rgb(41, 41, 41);
    color: aliceblue;
    position: absolute;
    top: 100px;
    right: 200px;
    z-index: 1;
    padding: 20px;
}

.box2{

    width: 100px;
    height: 100px;
    background-color:rgb(52, 60, 90);
    color: aliceblue;
    position: absolute;
    top: 150px;
    right: 200px;
    z-index: 2;
}

main{

    position: relative;
    top: 100px;
    height: 700px;
    border-top: 1px solid rgba(27, 30, 34, 0.602);

    border-bottom: 1px solid rgba(27, 30, 34, 0.602);

}































































