*{

    margin: 0px;
    padding: 0px;

}

body {

    width: 350px;
    margin: 30px auto;
    line-height: 1.5;
    border: 1px solid red;
    padding: 30px;
}

h1{
    text-align: center;
    color: red;
    font-family:'Times New Roman', Times, serif;
}

.book-name{

    color : cornflowerblue;
    font-size: initial;
    font-family: 'Courier New', Courier, monospace;
}