*{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    border: 1px solid royalblue;
}
.logo{
    width:200px;
    height: 150px; 
    float:left;    
    background-color: rgb(31, 31, 31);
    border: 1px solid royalblue;
}
.logo img{

    border: 1px solid royalblue;
    width: 100px;
    margin:25px 50px ;
}
.banner{
    border: 1px solid royalblue;
    width: 820px;
    float:left;
}
.banner img{
    border: 1px solid royalblue;
    width: 820px; 
    height: 150px;       
}
nav{
   clear: both; 
   border: 1px solid royalblue;
   background-color:rgb(31, 31, 31);
   padding:10px;
}
nav a{
    text-decoration: none;
    color:aqua;
    border: 1px solid royalblue;
    padding:5px 20px;
    font-size: 20px;
}
nav a:hover{
    color:black;  
    background-color: aliceblue;  
}
.news-img{
    padding-top:12px;
    color: rgb(198, 26, 95);
    border: 1px solid royalblue;
    width: 500px;
    float:left;
    line-height: 1.2;
}
.news-list{
    padding-top:20px;
    border: 1px solid royalblue;
    width: 520px;
    float:left;
    line-height: 1.2;
}
.news-img img{
    border: 1px solid royalblue;
    width: 450px;
    height: 400px;
}
.news-list ul {
    
    padding-left:20px;
    list-style: none;
}
.news-list ul li{
    
    padding:15px 0;
    border-top: 1px solid #0b77d6;
} 
.news-list ul li a{
    text-decoration: none;
}
.box-news{
    border: 1px solid royalblue;
    width: 234px;
    float: left;
    padding:10px;
}
.box-news img{
    width: 236px;
}
.box-news a{
    text-decoration: none;
    color:red;
}
section{
    border: 1px solid royalblue;
    clear: both;
}
.box-footer{
    border: 1px solid royalblue;
    background-color: #DDDDDD;
    height: 100px;
    clear: both;
    padding: 20px;
    width: 984px;
}
.box-footer .left{
    border: 1px solid royalblue;
    width: 400px;
    float:left;
}
.box-footer .right{
    border: 1px solid royalblue;
    width: 500px;
    float:left;
}








