*{


    margin: 0;
    padding: 0;
}


.container{

    max-width: 1024px;
    margin: 0 auto;
    width: 100%;  
    height: 100%;  
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}

main {

    background-color: aliceblue;
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 80px;
}

header{

    background-color: rgb(51 51 157);
    width: 100%;
    height: 80px;
    float: left;
    

}

header form{

    max-width: 430px;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(51 51 157);
    height: 50px;
    padding: 8px 0px 0px 370px;
    font-family: sans-serif;
    float: left;
    display: flex;
}


header h1{

    color: white;
    clear: both;
    float: left;
    padding: 15px 20px;
    font-size: 40px;
    font-family: sans-serif;
}

.group-input{

    width: 180px;
    float: left;
}


.group-input label {

    color: aliceblue;
    float: left;
    padding: 0px 0px 5px;
    width: 200px;
    font-size: 13px;
}

.group-input input {

    float: left;

}

form .group-input-checkbox {
    float: left;
    width: 150px;
    display: flex;
}

form .group-input-checkbox input[type="checkbox"] {

    float: left;
    
}

form .group-input-checkbox label {

    padding: 7px;
    color: silver;
}

form .group-input-checkbox a{

    text-decoration: none;
    color: silver;
    font-size: 12px;
    padding: 10px 0px;
}

.group-input button{

    width: 70px;
    margin-top: 20px;
    color: aliceblue;
    background-color: rgb(68 68 152);
    font-family:sans-serif;
    font-weight: bold;
    
}

section{

    width: 54%;
    float: left;
}

section h2{
    float: left;
    padding: 60px 0px 30px 10px;
    width: 60%;
}


.text-content{

    float: left;
    width: 100%;
    padding: 20px 0px 20px 120px;
    margin: 0px;
}

.text-content h3{

    float: left;
}

.text-content p{

    padding: 3px 0px 0px 200px;
    
}

.text-content span{

    padding: 0px 0px 0px 15px;
    
}

.text-content a{

    padding: 2px 0px 0px 15px;
    text-decoration: none;
    color: black;
}


aside{


    width: 45.9%;
    float: left;
    height: 500px;
    padding-top: 10px;
}

aside h1{

    margin-left: 65px;
    line-height: 1.3;
    font-size: 35px;
}

aside p{

    margin-left: 65px;
    line-height: 1.3;
    font-size: 20px;
    

}

.form1{

    margin: 0px 60px;
}

.form1 form{

    max-width: 470px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    margin-top: -35px;
    font-family: sans-serif;
    float: left;
    display: flex;

}


.right-input{

    padding: 50px 0px;
    margin: 0px 5px;
}

.right-input input{

    
    width: 193px;
    height: 30px;

}

.form2 form{

    height: 50px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    margin-top: 40px;
    float: left;
}

.input1{

    padding: 5px 0px;
}

.input1 input{

    height: 30px;
    width: 400px;
}

.form2 form p{

    padding: 5px 0px;
    margin: 0;
    font-size: 20px;

}

.form2{
    margin: 0px 65px;
}

.form2 form select{

    height: 30px;
    width: 60px;
    
}

.form2 form a{

    text-decoration: none;
    float: right;
    width: 190px;
    margin: -5px -50px;
    color: rgb(55 55 207);

}


.input-checkbox input{

    margin: 25px 0px 0px 15px;
}

.input-checkbox input[type="checkbox"]{

    border-radius: 50%;
}

.input-checkbox label{

    font-size: 22px;
    font-family: sans-serif;
    padding: 0px 5px;
}


.description-sign-up{

    width: 370px;
    display: flex;
   
}

form .description-sign-up p{

    font-size: 14px;
    padding: 15px 0px;
    color: gray;
}

.description-sign-up p a{

    color: black;
    padding: 6.5px 3px;
    font-size: 13px;
    color: rgb(55 55 207);
    

}

.button-sign-up{

    width: 400px;
    padding-bottom: 20px;
    border-bottom: 2px solid silver;
}

.button-sign-up button{

    color: white;
    background-color: #42b72a;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

form .create-page{

    width: 100%;
    float: left;
}

form .create-page a{

    font-weight: bold;
    padding: 20px 0px 0px 50px;
    font-size: 17px;
    float: left;
    width: 155px;
}

form .create-page p{

    font-weight: bold;
    color: #5d5d5d;
    padding: 14px;
    width: 370px;
    font-size: 17px;
    
    
}

footer{

    padding: 10px 0px;
    clear: both;
    height: 100px;
}

.footer-top{

    width: 100%;
    padding: 0px 0px 10px;
    border-bottom: 2px solid gray;
}


footer .footer-top a{

    font-size: 14px;
    text-decoration: none;
    clear: both;
    padding: 0px 0px 0px 10px;
    
}

.footer-bottom{

    padding: 10px 0px 10px;
}

footer .footer-bottom a{

    text-decoration: none;
    padding: 0px 25px 0px 10px;
    font-size: 14px;
  
}










