*{

    padding: 0;
    margin: 0;
}


html{


    background-color: white;
}


body {

    max-width: 1024px;
    width: 100%;
    margin: 50px auto;
    border: 2px solid gray;
}


header {

    padding: 20px;
    height: 100px;
    background-color: rgb(39 40 45);
   
}


.logo{

    width: 20%;
    float: left;
    
}

.logo img{

    width:100px;
}

.company{

    width: 80%;
    float: left;
    padding-top: 40px;
    margin: auto;

}

.company h2{

    color: white;
    font-family: cursive;
}

nav{

    clear: both;
    height: 20px;
    padding: 30px;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}



nav a{

    text-decoration: none;
    font-size: 20px;
    
    padding: 20px;
    color: red;
}

nav a:hover{

    background-color: rgb(154, 214, 214);
}

aside {

    border-right: 2px solid black;
    border-top: 2px solid gray;
    float: left;
    width: 1024px;
    padding: 0;
    height: 200px;

}

.banner img{

    width: 100%;
    height: 200px;
}

main{

  
    clear: both;
    width: 1004px;
    padding: 1%;
    float: left;
    height: 650px;
    border-right: 2px solid black;
}



nav , aside {

    background-color: aliceblue;
}

.text-block{

    display: flex;
    border-bottom: 2px solid gray;
}

.text-block h2{
    padding: 20px 120px;
}






.column-product{

width: 30%;

height: 280px;

border-radius: 10px;

float: left;

padding: 5px 5px;

margin: 5px 11px;

background-color: rgb(39 40 45);
}

.main-top{

    clear: both;
    height: 300px;
}

.column-product img{

    width: 100%;
    border-radius: 5px;
    height: 205px;
}

.column-product h3{

    margin-top: 20px;
    margin-left: 100px;
    color: aqua;
}

.main-bottom{

    clear: both;
    padding: 20px;
    height: 400px;
   
}

.product{

    width: 30%;

    height: 280px;

    border-radius: 10px;

    float: left;
    padding-left: 20px;
   

    

}

.product img{
    width: 100%;
    border-radius: 5px;
    height: 205px;

}

footer{

   
    padding: 20px;
    border-top: 2px solid black;
    clear: both;
}