*{
    margin: 0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1285.6px;
    margin:0 auto;
}
header{


    height: 100px;
    width: 100%;
    color: black;
    background-color: aliceblue;
    border-bottom: 2px solid rgb(48, 47, 60);
}
section{

    height: auto;
    width: 58.5%;
    float: left;
    padding: 2%;
    background-color: aqua;
}

section img{

    width: 90%;
    margin: 5%;


}

aside{

    float: left;
    height: auto;
    width: 35.5%;
    padding: 1%;
    background-color: aliceblue;
   
}
aside img{

    width: 90%;
    margin: 5%;
}
footer{


    border-top: 2px solid rgb(48, 47, 60);
    clear: both;
    height: 100px;
    width: 100%;
    color: white;
    background-color: silver;
    margin: auto;
}

#mobile_menu{

    display: none;
}


@media screen and (max-width: 560px){
    
    #mobile_menu{

        display: block;
    }

    #nav_menu{

        display: none;
    }
    
    section{
        float:none;
        width: 100%;
    }
    aside{
        float: none;
        width: 100%;
    }
}
#nav_menu ul li{
    list-style: none;
    float: left;
    padding:10px;
    position: relative;
}
#nav_menu ul li ul{
    display: none;
    position: absolute;
    width: 200px;
    margin:0;
    background-color: #fff;
}
#nav_menu ul li a{
    text-decoration: none;
    color:crimson;
}
#nav_menu ul li a:hover{
    color:coral;
}
#nav_menu > ul::after{
    content: "";
    display: block;
    clear: both;
}
#nav_menu ul li:hover > ul{
    display: block;
}
#nav_menu ul li ul li{
    float: none;
}









































