*{

    padding: 0;
    margin: 0;
}



.container{

    max-width: 1200px;
    margin: 0 auto;

}

.logo{

    float: left;
    width: 20%;
}

.logo h1{

    
    color: blueviolet;
}


.banner{

    float: left;
    width: 80%;
}

.banner img{

    width: 100%;
    height: 300px;
}


main{

    float: left;
    width: 100%;
    padding-bottom: 300px;
}

main h2{

    padding-top: 20px;
    color: rgb(74, 74, 74);
}

.infomation{

    padding-top: 20px;
}

.img img{

    margin-top: 15px;
    width: 200px;
}

main .var h2{

    color: rgb(55, 51, 51);
}


