
*{

    padding: 0;
    margin: 0;
}



.container{

    max-width: 100%;
    margin: 0 auto;

}

.logo{

    float: left;
    width: 20%;
}

.logo h1{

    
    color: blueviolet;
}


.banner{

    float: left;
    width: 80%;
}

.banner img{

    width: 100%;
    height: 300px;
}


main{

    float: left;
    width: 100%;
    padding-bottom: 300px;
}

main h2{

    padding-top: 20px;
    color: rgb(74, 74, 74);
}

.infomation{

    padding-top: 20px;
}

.img img{

    margin-top: 15px;
    width: 200px;
}

main .var h2{

    color: rgb(55, 51, 51);
}

.form-user{

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: start;
    float: left;
    width: 50%;
}

.form-user form{

    max-width: 500px;
    
}

form input[type="text"]{

    width: 500px;
}

.form-user form button{
    /* margin: auto 175px; */
    width: 150px;
}

.mb-3 p{

    color: red;
    padding: 5px;
}


.message h3{

    padding-top: 20px;
}

.result{

    padding-top: 10px;
}


.res{
    color: red;
    padding: 30px 0px;
}
.res p{

    color:red;
}

table{

    border-collapse: collapse;
    border: 4px solid black;
}

td{

    border: 1px solid black;
    padding: 20px;
}

.black{

    background-color: gray;
}

.white{

    background-color: bisque;
}

.nation-block{
    padding: 35px;
}

.nation-block img{

    width: 300px;
    height: 200px;
}

.nation-block{

    float: left;
    width: 50%;
}


.table img{

    width: 100px;
    height: 90px;
    border-radius:100%;
}
.card img{
    height: 170px;
}

.card{

    margin: 10px;
}

.nation-container{

    max-width: 100%;
    margin: 0 auto;
}







